# History files
.Rproj.user
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/
.RData
.Rproj
.Rout

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# Special Files
secrets.R
settings.R
dev.R
.httr-oauth
.project
.settings*
env
*~
*.csv